//- ====================
//- LOGOTYPE
//- ====================
mixin logotype(imageSizeHeight, classNameWrapModify)
    -
        var heightImage = imageSizeHeight / 2;

    div(class!= classNameWrapModify)
        .logotype
            img(
                src="./image/logotype.png"
                title=""
                class="logotype__img"
                height!= heightImage
            )

//- ====================
//- TITLE
//- ====================
mixin mainTitle(caseNum, titleText, gradientText, gradientText1)
    mixin title(txtTitle)
        != txtTitle

    mixin gradient(txtGradient)
        svg(
            width="100%" height="20px" xmlns="http://www.w3.org/2000/svg"
        )
            defs()
                linearGradient(
                    id="gradientText" x1="0" y1="100%" x2="100%" y2="100%"
                )
                    stop(offset="0%" stop-color="#48439a")
                    stop(offset="100%" stop-color="#51d1ce")
            text(
                fill="url(#gradientText)" x="0" y="100%"
            )!= txtGradient

    p.main__title
        case caseNum
            when 1
                +title(titleText)
                +gradient(gradientText)
            when 2
                +gradient(gradientText)
                +title(titleText)
            when 3
                +gradient(gradientText)
            when 4
                +gradient(gradientText)
                +gradient(gradientText1)
                +title(titleText)
            default
                | Error
