//- ====================
//- DATA
//- ====================
-
    var textTitle = "Would like to know how </br> we create world first AI marketer?";
    var textSlogan = "Subscribe to our blog. Mistakes, machine learning </br> and rock-n-roll - all truth here.";
    var placeholderText = "Enter Email";
    var btnText = "E-mail me your hot AI stories";


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin circle(imageSizeHeight)
    -
        var imageHeight = (imageSizeHeight / 2);

    .contacts__circle
        img(
            src="./image/img-contacts.png"
            title=""
            class="contacts__circle-img"
            height!= imageHeight
        )


mixin text()
    p.contacts__title!= textTitle
    p.contacts__text!= textSlogan


mixin contactsForm(placeholderNameInput, btnName)
    .contacts__form
        input(
            type="text"
            class="contacts__form-input"
            name=""
            placeholder!= placeholderNameInput
        )

        button(
            type="button"
            class="contacts__form-btn"
        )!= btnName


//- ====================
//- MAIN
//- ====================
section.contacts.scrollSpy#contacts
    .contacts__row

        .container

            .contacts_row

                +circle(316)

                .contacts_right
                    +text()

                .contacts_left
                    +contactsForm(placeholderText, btnText)

