//- ====================
//- DATA
//- ====================
-
    var dataTitle = "It’s never been so easy ";
    var dataTitleGradient = "to be data-driven.";
    var dataSubTitle = "With a Captain you get ideas on what to improve and how to grow every day. All based on your data </br> Get your insights, make right decisions, act and grow.";


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin imgData(imageSizeHeight)
    -
        var imageSize = (imageSizeHeight / 2);

    img(
        src="./image/img-data.png"
        class="data__img"
        title=""
        height!= imageSize
    )

//- ====================
//- MAIN
//- ====================
section.data#data

    .data_img
        i.data_img-left.resize_left
        i.data_img-right.resize_right
        i.data_img-smallS
        i.data_img-bigS

        -
            var imgSmallSmoothSize = (112 / 2);
            var imgBigSmoothSize = (174 / 2);

        //img(
        //    src="./image/img-circleS-small_some.png"
        //    class="data_img-smallS"
        //    title=""
        //    height!= imgSmallSmoothSize
        //)
        //img(
        //    src="./image/img-circleS-big_some.png"
        //    class="data_img-bigS"
        //    title=""
        //    height!= imgBigSmoothSize
        //)

    .container-default

        +mainTitle(1, dataTitle, dataTitleGradient)

        p.data__subTitle!= dataSubTitle

        +imgData(1288)



