//- ====================
//- DATA
//- ====================
-
    var dataTitle = "It’s never been so easy ";
    var dataTitleGradient = "to be data-driven.";
    var dataSubTitle = "With a Captain you get ideas on what to improve and how to grow every day. All based on your data </br> Get your insights, make right decisions, act and grow.";


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin imgData(imageSizeHeight, imageSizeMediumHeight)
    -
        var imageSize = (imageSizeHeight / 2);
        var imageSizeMedium = (imageSizeMediumHeight / 2);

    img(
        src="./image/img-data.png"
        class="data__img"
        title=""
        height!= imageSize
    )
    img(
        src="./image/img-data_medium.png"
        class="data__img data__img_medium"
        title=""
        height!= imageSizeMedium
    )

//- ====================
//- MAIN
//- ====================
section.data#data

    .data_img
        i.data_img-left.resize_left
        i.data_img-right.resize_right
        i.data_img-smallS.resize_right-s
        i.data_img-bigS.resize_right-s

    .container-default

        +mainTitle(1, dataTitle, dataTitleGradient)

        p.data__subTitle!= dataSubTitle

        +imgData(1288, 1908)



