//- ====================
//- DATA
//- ====================
-
    var doitTitle = "do it for you?";
    var doitTitleGradient = "How does Captain";
    var doitNum = [
        "01",
        "02",
        "03"
    ];
    var doitArrList = [
        "Find the segment, which goes better or worse than normal",
        "Define the exact level, where the problem is",
        "Score the importance: is it valueable enough?"
    ];


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin doitImage(imageSizeHeight, imageSizeMediumHeight)
    -
        var imageHeight = (imageSizeHeight / 2);
        var imageMediumHeight = (imageSizeMediumHeight / 2);

    img(
        src="./image/img-doit.png"
        class="doit__img"
        title=""
        height!= imageHeight
    )
    img(
        src="./image/img-doit_medium.png"
        class="doit__img doit__img_medium"
        title=""
        height!= imageMediumHeight
    )


mixin doitList(arrText, arrNum)
    ul.doit__list
        -for(var i = 0; i < arrText.length; i++)
            li.doit__item
                .doit__item_left
                    .doit__item-circle
                        span.doit__item-circle--num!= arrNum[i]

                    if(i !== arrText.length - 1)
                        -for(var j = 0; j < 9; j++)
                            i.doit__item-dot

                .doit__item_right!= arrText[i]


//- ====================
//- MAIN
//- ====================
section.doit.scrollSpy#doit

    .doit_img
        i.doit_img-smallS.doit_img-smallS_1.resize_right-s
        i.doit_img-smallS.doit_img-smallS_1.resize_right-s
        i.doit_img-bigS.doit_img-bigS_0.resize_left-s
        i.doit_img-bigS.doit_img-bigS_1.resize_right-s

    .container-default

        .doit_row
            .doit_left
                +mainTitle(2, doitTitle, doitTitleGradient)

                +doitList(doitArrList, doitNum)

            .doit_right
                +doitImage(1644, 1306)