//- ====================
//- DATA
//- ====================
-
    var footerMenuArr = [
        "About us",
        "Success stories",
        "Pricing",
        "How it works",
        "AI blog",
        "Tips&Tricks",
        "Privacy Policy",
        "Terms of Use"
    ];


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin footerMenu(arrMenuName)
    ul.footer__menu
        -for(var i = 0; i < arrMenuName.length; i++)
            li.footer__menu-item
                a.footer__menu-btn(
                    href="javascript:void(0);"
                    title!= arrMenuName[i]
                )!= arrMenuName[i]


mixin copyright()
    .footer_copyright
        p.copyright!= "©Copyright 2017"


mixin social()
    .footer_social
        .social
            a.social__btn.social__btn_facebook(
                href= "javascript:void(0);"
                title= "Facebook"
            )


//- ====================
//- MAIN
//- ====================
footer.footer#footer
    .container

        .footer_row
            .footer_left
                +logotype(104, "footer_logotype")
                +copyright()

            .footer_right
                +footerMenu(footerMenuArr)
                +social()
