//- ====================
//- DATA
//- ====================
-
    var loginItem = [
        "Log in",
        "Try for free"
    ];
    var headerTitle = "Aut<span class='header__title_letter'></span>mate your </br> marketing analytics </br> with AI";
    var headerSubTitle = "Captain Growth extracts valuable insight from your data. </br> You act on what really matters.";
    var headerBtn = "Get insights for free";
    var socialName = [
        "facebook",
        "googleDrive",
        "googleAnalyticsGray"
    ];


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin headerMainImage()
    i.header__img.mainLarge_right
    i.header__img_medium.mainMedium_right


mixin login(arrName)
    .header__login
        - for(var i = 0; i < arrName.length; i++)
            a(
                href="javascript:void(0);"
                class="header__login-btn"
            )!= arrName[i]


mixin blockTitle(titleName, subTitleName, btnName)
    .header__title-wrap
        h1.header__title!= titleName
        p.header__subtitle!= subTitleName

        button(
            type="button"
            class="header__btn"
        )!= btnName


mixin headerSocial(arrName)
    .header__social
        .header__social-block
            | Available for:

        -for(var i = 0; i < arrName.length; i++)
            .header__social-block
                a(
                    href="javascript:void(0);"
                    class="header__social-btn header__social-btn_" + arrName[i]
                )
                    i.header__social-btn--icon

                    if(i !== 0)
                        i.header__social-btn--line
                        span.header__social-btn--text!= "Soon"


//- ====================
//- MAIN
//- ====================
header.header#header

    .header_img
        i.header_img-big.resize_left
        i.header_img-smallS.resize_left-s
        i.header_img-bigS.resize_left-s


    .header__row
        +headerMainImage()

    .container.clearfix

        +logotype(104, "header_logotype")
        +login(loginItem)

    .container-default
        +blockTitle(headerTitle, headerSubTitle, headerBtn)
        +headerSocial(socialName)

