//- ====================
//- DATA
//- ====================
-
    var insightTitle = "We usually find around 100 insights for a new user. </br> It takes us 2 minutes. Get your for free.";
    var insightBtnText = "Get my insights";


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin circle(imageSizeHeight)
    -
        var imageHeight = (imageSizeHeight / 2);

    .insight__circle
        img(
            src="./image/img-insight.png"
            title=""
            class="contacts__circle-img"
            height!= imageHeight
        )


mixin content()
    p.insight__title!= insightTitle
    button(
        type="button"
        class="insight__btn"
    )!= insightBtnText
        i.insight__btn-icon


//- ====================
//- MAIN
//- ====================
section.insight.scrollSpy#insight
    .insight__row

        .container

            img(
                src="./image/img-insight_small.png"
                class="insight__img"
                height!= (252 / 2)
            )

            .insight_row

                +circle(446)

                .insight_container
                    +content()
