include _mixin/mixin
include _mixin/macrosMixin

doctype html

html(
    lang="en"
    class="js"
)
    +headSite("Captain Growth", linkSite.styleLinkIndex, "")

    body.body#body

        include _template/_header
        include _template/_dataDriver
        include _template/_save
        include _template/_insight
        include _template/_doit
        include _template/_find
        include _template/_integrations
        include _template/_platform
        include _template/_change
        include _template/_contacts
        include _template/_footer

        include _template/_scroll
        include _template/_modal

        .cookie
            .container-default
                .cookie__row
                    .cookie_left
                        p.cookie__tille!= "We use cookies on our website to support technical </br> features that enhance your user experience."
                        p.cookie__text!= "We also use analytics. To opt-our from analytic"
                    .cookie_right
                        button(
                            type="button"
                            class="cookie__btn"
                        )!= "OK"

    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])